.projectRow {
  display: table-row;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  position: relative;
}

.projectRow:hover {
  background-color: rgba(222, 222, 222, 0.5);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.projectCell input,
.projectCell textarea,
.projectCell select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: transparent;
}

.projectCell textarea {
  resize: none;
}

.progressContainer {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
}

.progressBar {
  background-color: #76c7c0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: white;
  border-radius: 25px 0 0 25px;
  transition: width 0.25s;
  font-weight: bold;
}

.actionButtons {
  display: flex;
  gap: 4px;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.customCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.hiddenCheckbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  cursor: pointer;
}

.customCheckbox::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.hiddenCheckbox:checked + .customCheckbox::after {
  display: block;
}

.hiddenCheckbox:checked + .customCheckbox {
  background-color: #76c7c0;
}
.projectRow:hover .actionButtons {
  opacity: 1;
}

