.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 60px;
  background: linear-gradient(90deg, #22E1FF, #1D8FE1, #625EB1);
  background-size: 300% 300%;
  animation: gradientBackground 10s ease infinite;
}

@keyframes gradientBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.historyWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 60px;
}

.notificationWrapper {
  display: flex;
  align-items: center;
  margin-right: 0px;
}

.avatarWrapper {
  align-items: center;
  margin-right: 10px;
}

.tableWrapper {
  flex: 1;
  padding: 0 80px;
  overflow-y: auto;
  margin-top: 60px;
}