.button {
  margin-top: 10px;
  padding: 10px 18px;
  background: linear-gradient(60deg, #22E1FF, #1D8FE1, #625EB1);
  border: 2px solid rgba(240, 240, 240, 0.7);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 18px;
  width: 100px;
  justify-content: center;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:last-child {
  font-weight: bold;
  color: white;
}