.button {
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
  color: #cf5f5f;
  overflow: hidden;
  display: flex;
  width: 50px;
  align-items: center;
  border: none;
}

.button:hover {
  background-color: #cf5f5f;
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
